<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @person.picture %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @person.company.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @person.title %>
</p>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
