<%= form_with(model: [@event,multimedium], local: true) do |form| %>
  <% if multimedium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(multimedium.errors.count, "error") %> prohibited this multimedium from being saved:</h2>

      <ul>
      <% multimedium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <% types_array= multimedia_types.map{|x| [x.multimedia_type , x.id]}%>
  <div class="field">
    <%= form.label :multimedia_type_id %>
    <%= form.select(:multimedia_type_id,types_array , :selected => multimedium.multimedia_type_id !=nil ? multimedium.multimedia_type_id : nil ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
