<p id="notice"><%= notice %></p>

<h1>Multimedia</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Multimedia type</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @multimedia.each do |multimedium| %>
      <tr>
        <td><%= multimedium.name %></td>
        <td><%= multimedium.url %></td>
        <td><%= multimedium.multimedia_type.multimedia_type %></td>
        <td><%= multimedium.event.name %></td>
        <td><%= link_to 'Show', [@event,multimedium] %></td>
        <td><%= link_to 'Edit', edit_polymorphic_path([@event,multimedium]) %></td>
        <td><%= link_to 'Destroy', [@event,multimedium], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Multimedium', new_event_multimedium_path %>
