<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @multimedium.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @multimedium.url %>
</p>

<p>
  <strong>Multimedia type:</strong>
  <%= @multimedium.multimedia_type.multimedia_type %>
</p>

<p>
  <strong>Event:</strong>
  <%= @multimedium.event.name %>
</p>

<%= link_to 'Edit', edit_polymorphic_path([@event,@multimedium]) %> |
<%= link_to 'Back', event_multimedia_path %>
