<%= form_with(model: [@event,event_date], local: true) do |form| %>
  <% if event_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_date.errors.count, "error") %> prohibited this event_date from being saved:</h2>

      <ul>
      <% event_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
