<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event_date.date %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_date.event %>
</p>

<%= link_to 'Edit', edit_event_date_path(@event_date) %> |
<%= link_to 'Back', event_dates_path %>
