<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @time_range.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @time_range.end_time %>
</p>

<%= link_to 'Edit', edit_time_range_path(@time_range) %> |
<%= link_to 'Back', time_ranges_path %>
