<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @activity.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @activity.end_time %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @activity.event_date %>
</p>

<p>
  <strong>Places event:</strong>
  <%= @activity.places_event %>
</p>

<%= link_to 'Edit', edit_polymorphic_path([@event,@activity]) %> |
<%= link_to 'Back', event_activities_path %>
