<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @place.city_id %>
</p>
<%= link_to 'Edit', edit_polymorphic_path(@model) %> |
<% if @event==nil%>
<%= link_to 'Back', places_path %>
<%else%>
  <%= link_to 'Back', event_places_path %>
<%end%>
